.experience-box {
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.04);
    float: left;
    width: 100%;
    border-radius: 15px;
    position: relative;
}
.experience-box h4 {
    font-size: 18px !important;
    margin-top: -86px !important;
    background-color: #ffffffdb;
    position: relative;
    padding: 10px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 500 !important;
    border-radius: 0 0 10px 10px;
    text-align: center;
}


.home-experience {
    float: left;
    width: 100%;
    padding: 0px 0;
    margin-bottom: 68px;
}
.home-experience img{ border-radius: 15px;} 

