.banner {
  background-color: #f0f0f0;
  float: left;
  width: 100%;
  background-image: url(../../public/images/banner.jpg);
  background-position: center top;
  background-size: cover;
  padding-bottom: 50px;
  }
.banner-container{  
  background: #f2f2f2e3;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 18px;
  margin: 0 18px;
  margin-bottom: 50px;
}
.banner-container div{

}
.banner-container img{
  width: 100%;
  max-width: 50px;
  margin: 0 auto;
  display: block;

}
.banner-container h4{
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px !important;
  text-align: center;
  color: #135f74;
}
.banner-search{
  max-width: 500px;
  margin: 0 auto;

}
.banner-search input{
  height: 60px;
  background-color: #f8f8f8 !important;
}
.banner-search button{
  background: #fff;
  border: none;
  color: #000;
  font-size: 20px;
  padding: 0 30px;
}
.banner-search button:hover{
  background: #135f74;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .banner-container img {
      max-width:30px;

  }
  .banner-container h4 {
      margin-top: 10px;
      font-size: 13px !important;
  }
}