.home-countries {
    float: left;
    width: 100%;
    padding: 50px 0;
}
.home-countries img{ border-radius: 15px;} 
.home-countries .col-md-2 div {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: -32px;
    z-index: 10;
    position: relative;
    color: #fff;
}