.banner {
    float: left;
    width: 100%;
    min-height: 370px;
    background: url('../../../public/images/banner.jpg') center no-repeat fixed #009597;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
  h2{
    color:#fff;
    font-size: 30px;
  }
  
  .search button {
    border: none;
    background: none;
    margin-left: -47px;
    height: 45px;
    padding: 0 11px;
    color: #fff;
    font-size: 25px;
    padding-top: 2px;
}
.search h2{ margin-bottom: 15px; letter-spacing: .5px;}
  .search button i{}
  .search{
    max-width: 580px;
  }
  .search input {
    width: 530px;
    background: #007079;
    border: solid 1px #6ED1D4;
    border-radius: 25px;
    height: 45px;
    padding: 10px;
    color: #fff;
}
.search input:focus { outline: none;}
::placeholder {
    color: #fff;
    opacity: .8; /* Firefox */
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
  }
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #fff;
    opacity: 1; /* Firefox */
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
  }