.events-full-container {
  float: left;
  width: 100%;
  margin: 0 0;
  padding: 50px 0;
}
.events-top-text p {
  max-width: 500px;
}
.d-flex {
  display: flex;
  align-items: center;
}
.event-full-width-slider {
  float: left;
  width: 100%;
  padding: 50px 0;
}
.explore-event-container {
  float: left;
  width: 100%;
  padding: 0 0 50px 0;
}
.event-left-container {
  float: left;
  width: 100%;
  padding: 0 0 0 20px;
}
.event-left-container h4 {
  float: left;
  width: 100%;
}
.price-range {
  float: left;
  width: 100%;
}
.highlight {
  display: none;
}
.filter-full-width {
  width: 100% !important;

}

.filter-half-width {
  margin-top: -30px !important;
}

.price-range-text {
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.media-calendar {
  float: left;
  width: 100%;
}
.accordion-range {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.btn-close{
    display: none ; 
}
.btn-one{
display: none;
  }


@media only screen and (max-width: 991px) {
.event-left-container {
display: none;
}

.btn-one{
    background-color: #a0daca;
    border: none;
    padding: 6px 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: block;

  }

.highlight {
    display: block !important;
    position: fixed;
    background: #f7f7f7;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    height: 100vh;
}

.btn-close{
    right: 15px;
    align-items: end;
    justify-content: end;
    font-size: 30px;
    display: block !important;
    text-align: right;
}
.btn-toggle{
    background: none;
    border: none;
    position: absolute;
    z-index: 1000;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media (max-width: 768px) {

.filter-half-width {
  margin-top: 7px !important;
}
}
