body{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:"Poppins", sans-serif !important;
}
nav .nav-link{
  color:#8A8A8A ;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
nav .active{color:#000 ;font-weight: 600;}
.top-btn {
  background: #D86000 !important;
  color: #fff !important;
  font-weight: 400 !important;
  border-radius: 25px;
  width: 100px;
  text-align: center;
  margin-left: 50px;
}
nav .nav-item{ margin-left: 20px;}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

h3{ font-size: 25px !important;}

h4 {
  text-transform: unset;
  font-size: 18px !important;
  text-transform: unset ;
}
img{ max-width: 100%;}
.float-right{ float: right;}
footer {
  float: left;
  width: 100%;
  background-color: #EFEFEF;
  padding: 25px 0;
}
.social-media {
  float: left;
  width: 100%;
  text-align: right;
  list-style: none;
  padding: 12px 0;
}
.social-media li {
  display: inline;
  margin-left: 20px;
}
.social-media li a{color: #000;}
.footer-links ul {
  padding: 0;
  margin: 0 0 0 0;
}
.footer-links li {
  display: inline;
  margin: 0 15px;
}
.footer-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
a{ color: #000; text-decoration: none;}