@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --black: #000;
}
body{
    color: var(--black);
    font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:"Poppins", sans-serif !important;
  }
  a {
    font-size: 15px;
    color: #000 !important;
    text-decoration: none !important;
  }
  nav .nav-link{
    color:#8A8A8A ;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  nav .active{color:#000 ;font-weight: 600;}
  .top-btn {
    background: #D86000 !important;
    color: #fff !important;
    font-weight: 400 !important;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    margin-left: 50px;
  }
  nav .nav-item{ margin-left: 20px;}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  h3{ font-size: 25px !important;}
  
  h4 {
    text-transform: unset;
    font-size: 18px !important;
    text-transform: unset ;
  }
  img{ max-width: 100%;}
  .float-right{ float: right;}
  footer {
    float: left;
    width: 100%;
    background-color: #EFEFEF;
    padding: 25px 0;
  }
  .social-media {
    float: left;
    width: 100%;
    text-align: right;
    list-style: none;
    padding: 12px 0;
  }
  .social-media li {
    display: inline;
    margin-left: 20px;
  }
  .social-media li a{color: #000;}
  .footer-links ul {
    padding: 0;
    margin: 0 0 0 0;
  }
  .footer-links li {
    display: inline;
    margin: 0 15px;
  }
  .footer-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  a{ color: #000; text-decoration: none;}
  .navbar{
    float: left;
    width: 100%;
    border-bottom: solid 1px #ccc;
  }
  h1{
    color: #000;
    font-size: 30px !important;
    margin-right: 10px;
    line-height: 36px;
  }
  .navbar-expand-sm {
    background: #ffffff;
    border: none;
}
.form-control:focus {
  border-color: #86b7fe00 !important;
  box-shadow: none !important;
}
.nav-tabs .active{ 
  background-color:#009597 !important;
}
.owl-next{
  font-size: 40px !important;
  background: #a0daca !important;
  margin-left: 10px;
  line-height: 35px !important;
  width: 60px;
}
.owl-prev{
  font-size: 40px !important;
  background: #a0daca !important;
  margin-left: 10px;
  line-height: 35px !important;
  width: 60px;
}
.owl-nav{
  float: right;
}
.btn-one{
  background-color: #a0daca;
  border: none;
  padding: 7px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.form-control:focus {
  box-shadow: 0 0 0 0.01rem rgb(0 0 0 / 48%) !important;
}
label{ color:#999;}
input {
  height: 50px;
  margin-top: 5px;
}
select {
  height: 50px;
  margin-top: 5px;
}
.form-check-input[type=checkbox] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.form-check-input:focus {
  border-color: #a0daca !important;
  box-shadow: 0 0 0 0.25rem rgb(157 215 199) !important;
}
.form-check-input:checked {
  background-color: #009597 !important;
  border-color: #009597 !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7{ border:none !important;}
:focus-visible {
  outline: unset;
}

.masonry-item {
  position: relative;
  margin-bottom: 16px;
  margin: 8px;
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.033);
}

.masonry-item img {
  display: block;
  width: 100%;
  height: auto;
}

.masonry-item-content {
  padding: 10px;
  margin-top: -216px;
  color: #fff;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(0, 0, 0, 0) 100%);
}

.masonry-item-content h5 {
  margin: 0;
  font-size: 1.2em;
}

.masonry-item-content p {
  margin: 0;
  font-size: 0.9em;
  color: #fff;
}










.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #6f00ff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.owl-dot.active {
  background: #41a6ab !important;
}
.owl-dots button{ background-color:#ccc !important;}

.br-15{ border-radius:15px;}
img{ max-width: 100%;}

.pdb-3{
  padding-bottom: 1rem;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
}
.filter-full-width{ width: 100%;}





@media only screen and (max-width: 991px) {
  h3 {
    font-size: 20px !important;
   
}
.pdb-3{
  padding-bottom: 0px;
}
.footer-links li {
  float: left;
}
footer .navbar-brand {
  float: unset;
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 125px;
  margin-bottom: 15px;
}
.footer-links ul:last-child{
  float: left;
  width: 100%;
  margin-top: 10px;
}
.footer-links ul:last-child li{
  text-align: center ;
}
.social-media {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
}
