/* .section_main{
    height:80vh;
}

.section_main form {
}

.form-control {
    height: 45px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ced4da;
  }
  
  .form-control:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
  }
  
  .btn-custom {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
  } */