.invest-link{
    border: solid 2px #189497 !important;
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px 10px !important;
    color: #156074 !important;
}
.invest-link span{
    color:#189497;
}

.login-link{
    border: solid 2px #cdcdcd !important;
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px 10px !important;
    color: #cdcdcd !important;
}
